* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    padding: 1rem;
}

main {
    /* height: calc(100vh - 85.6px); */
    background-color: lightgray;
}

.mainCards {
    display: flex;
    margin: auto;
    justify-content: center;
}