* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    padding: 1rem;
}

main {
    background-color: lightgray;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 0;
    justify-content: flex-start;
}

.differentTags {
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 1rem;
    line-height: 2rem;
}